html, body {
height: 100%;
margin: 0;
padding: 0;
}
#map {
height: 100px;
float: left;
width: 63%;
height: 55%;

}
#right-panel {
float: right;
width: 34%;
height: 100%;
}
#right-panel {
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

#right-panel select, #right-panel input {
font-size: 15px;
}

#right-panel select {
width: 100%;
}

#right-panel i {
font-size: 12px;
}
.panel {
height: 100%;
overflow: auto;
}

.subheader {

}

.header {

}

.table {
    table table-striped table-bordered">
    table table-striped table-bordered;
}
/*.chart {
    width: 600px;
    height: 300px;
}*/

/*#lineChartDistance {
    width: 500px;
    height: 500px;
}*/
