<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Lumina</title>
      <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
</head>
<body>
    Lumina
    <br>
      <!-- links for navbar -->
    <span><a href="/profile">Profile</a></span>
    <br>
    <span><a href="/routes">Routes</a></span>
    <br>
    <span><a href="/runs">Runs</a></span>
    <br>
{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>