{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="hero-unit">
            <h2> SafeRun </h2>
        </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">    
            <form id="address-form" method="get" action="/draw-route">
                <br><h3>Map a new route</h3>
                    <input type="text" name="start" id="pointOne" value="noe valley, san francisco, ca" placeholder="Start Address">
                    <input type="text" name="end" id="pointTwo" value="civic center, san francisco ca" placeholder="End Address">
                <input type="submit" id="submit-button" value="Map my run!">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">  
            <div id="search-route-form-div">
                <br>
                <form id="get-route-form" method="get" action="/get-saved-route">
                    <span><h3>Search for a saved route</h3></span>
                          <input type="text" name="search" id="search-term" value="OB to 18th"placeholder="Name of Route">
                          <input type="submit" id="submit-button" value="Get saved route">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
