{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

  <h4> Welcome to SafeRun </h4>

  <!-- form for start and end addresses -->
  <form id="address-form" method="get" action="/draw-route">
    <br>Map a new route<br>
    <span>Start:</span>
      <input type="text" name="start" id="pointOne">
     <span>End:</span>
      <input type="text" name="end" id="pointTwo">
      <input type="submit" id="submit-button" value="Map my run!">
  </form>

  <div id="map"></div>
  <div id="right-panel"></div>

  <!-- form to search for a route -->
  <div id="search-route-form-div">
  <form id="get-route-form" method="get" action="/get-saved-route">
    <span>Get a saved route</span>
    <br>
    <span>Enter name of route:</span>
      <input type="text" name="search" id="search-term">
      <input type="submit" id="submit-button" value="Get saved route">
  </form>
  </div>

    <script src="static/js/simplemap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0V7FNkiwsUwxhsQd8hscYoMsuklxOFhg&callback=initMap"
    async defer></script>

{% endblock %}
