{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="header">
              <h2>Profile</h2>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="subheader">
              <h3>Distance</h3>
          </div>

          <div class="chart">
              <canvas id="lineChartDistance" ></canvas>
              <div id="lineLegendDistance" class="chart-legend"></div>
          </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">    
          <div class="subheader">
              <h3>Pace</h3>
          </div>
        
          <div class="chart">
              <canvas id="lineChartPace"></canvas>
              <div id="lineLegendPace" class="chart-legend"></div>
          </div>
      </div>
  </div>


  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
          <div id="recent-courses">
              <h3>Your three most recently added courses</h3>
              <table class="table table-striped table-bordered" id="recent-courses-data-table">
              </table>
          </div>
      </div>
  </div>


  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
          <div id="recent-runs">
              <h3>Your three most recent runs</h3>
              <table class="table table-striped table-bordered" id="recent-runs-data-table">
              </table>
          </div>
      </div>
  </div>


  <script src="/static/js/profilecharts.js"></script>


{% endblock %}
