{% extends 'base.html' %}

{% block title %}Lumina Route List{% endblock %}


{% block content %}

    <h2>Routes</h2>
    <p>Table of all routes</p>

    <table border="1" style="width:60%">
        <tr>
        <th>ID</th>
        <th>Route Name</th>
        <th>Add Date</th>      
        <th>Distance (km)</th>
        <th>Favorite</th>
        </tr>
        {% for route in routes %}
          <tr>
              <td> ({{ route.route_id }})            
              <td> <a href="/routes/{{ route.route_id }}">{{ route.route_name }}</td>
              <td> ({{ route.add_date }})            
              <td> {{ route.route_distance }}
              <td> {{ route.favorite }}
          </tr>
        {% endfor %}
    </table>

{% endblock %}