{% extends 'base.html' %}

{% block title %}**App Name**  Route List{% endblock %}


{% block content %}

    <h2>Routes</h2>
    <p>Table of all routes</p>

    <table id="route-list-table" border="1" style="width:60%">
        <tr>
        <th>ID</th>
        <th>Route Name</th>
        <th>Add Date</th>      
        <th>Distance (km)</th>
        <th>Favorite</th>
        </tr>

</table>


    <script>
var name;
var add_date;
var rowArray;
// var textToAdd = "";

  $.get("/get-all-routes.json", function (routes) {
    for (var key in routes) {
      var textToAdd = "";
      var route = routes[key];
      rowArray = [key, route.route_name, route.add_date, route.route_distance, route.favorite]
      // name = route.route_name;
      // addDate = route.add_date;
      // console.log(name);
      // console.log(addDate);
    // }
    $.each(rowArray, function(count, item) {
      console.log(item);
      textToAdd += "<td>" + item + "</td>";
    });
    $("#route-list-table").append("<tr>" + textToAdd + "</tr>");
  }
})

    </script>

{% endblock %}