<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery.js"></script>

</head>

<body>
<script src="static/js/routejsontest.js"></script>

          <table id="personDataTable" border="1">
              <tr>
              <th>Route Id</th>
              <th>Route Name</th>
              <th>Date Added</th>
              <th>Distance</th>

              </tr>
    
          </table>



</body>
</html>

