{% extends 'base.html' %}

{% block title %}Route Detail{% endblock %}


{% block content %}

   <p>Current Route:</p>
   <table border="1" style="width:60%">
      <tr>
          <td> ID: {{ route.route_id }}            
          <td> Route Name: {{ route.route_name }}
          <td> Add Date: {{ route.add_date }}            
          <td> Distance (km): {{ route.route_distance }}
          <!-- <td> Favorite: {{ route.favorite }} -->
      </tr>
    </table>

  <div id="map"></div>
  <div id="right-panel"></div>
  <div id="mapdata" data-getstartlat="{{ route.start_lat }}" data-getstartlong="{{ route.start_long }}" data-getendlat="{{ route.end_lat }}" data-getendlong="{{ route.end_long }}"></div>

{% if route.runs %}

    <table style ="width:60%">
      <tr>
        <td>Run History for {{ route.route_name }}:</td>
      </tr>
    </table>
    <table border="1" style="width:60%">
        <tr>
            <th>Run Date</th>
            <th>Distance (km)</th>
            <th>Run Duration</th>
        </tr>

        {% for run in route.runs %}
        <tr>
          <td>{{ run.run_date }}</td>
          <td>{{ route.route_distance }}</td>
          <td>{{ run.duration }}</td>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <table style ="width:60%">
      <tr>
        <td><br>You have not run this route yet</td>
      </tr>
    </table>
{% endif %}


    <script src="/static/js/getsavedmap.js"></script>

   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0V7FNkiwsUwxhsQd8hscYoMsuklxOFhg&signed_in=true&callback=showSavedMap"
    async defer></script>
    
{% endblock %}
