{% extends 'base.html' %}

{% block title %}Run Detail{% endblock %}


{% block content %}

<div class="container-fluid">
    <div id="run-header"></div>

{% include 'helper_templates/map.html' %}

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-8">
            <div id="run-detail-data"></div>
            <table class="table table-bordered" id="run-detail-table" ></table>
        </div>
  </div>

</div>


<script src="/static/js/getsavedmap.js"></script>
<script src="/static/js/mapstyles.js"></script>

<script src="/static/js/rundetail.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0V7FNkiwsUwxhsQd8hscYoMsuklxOFhg&signed_in=true&callback=showSavedMap"
async defer></script>

{% endblock %}
