{% extends 'base.html' %}

{% block title %}**App Name**  Index Map{% endblock %}


{% block content %}


<div>Run ID #:{{ run.run_id }}</div>
<table border="1" style="width:60%">
    <tr>
    <th>Route Name:</th>
    <th>Date of Run:</th>
    <th>Distance</th>
    <th>Duration</th>
    </tr>
    <tr>
    <td>{{ route.route_name }}</td>
    <td>{{ run.run_date }}</td>
    <td>{{ route.route_distance }}</td>
    <td>{{ run.duration }}</td>
    </tr>
</table>

  <div id="map"></div>
  <div id="right-panel"></div>
  <div id="mapdata" data-getstartlat="{{ route.start_lat }}" data-getstartlong="{{ route.start_long }}" data-getendlat="{{ route.end_lat }}" data-getendlong="{{ route.end_long }}"></div>

    <script src="/static/js/getsavedmap.js"></script>

   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0V7FNkiwsUwxhsQd8hscYoMsuklxOFhg&signed_in=true&callback=showSavedMap"
    async defer></script>

{% endblock %}
