  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
          <table class="table table-striped table-bordered" >
              <tr>
              <th>Run ID</th>
              <th>Route Name</th>
              <th>Date of Run</th>      
              <th>Distance (km)</th>
              <th>Duration</th>
              </tr>
              {% for run, route in ran_routes %}
                <tr>
                    <td> <a href="/runs/{{ run.run_id }}">({{ run.run_id }}) </td>
                    <td> {{ route.route_name }}
                    <td> {{ run.run_date }}
                    <td> {{ route.route_distance }}
                    <td> {{ run.duration }}
                </tr>
              {% endfor %}
          </table>
      </div>
  </div>