{% extends 'base.html' %}

{% block title %}Result Map{% endblock %}


{% block content %}

<div class="container-fluid">

  <div class="row">
   <div class="col-xs-12 col-md-9">
        <div id="map" style="height:500px; width: 900px;"></div>
     </div>
     <div class="col-xs-12 col-md-3">
        <div id="right-panel" style="height:500px; width: 400px;"></div>
     </div>
  </div>



  <div class="row">
  <div class="col-xs-12 col-md-6">
      <div id="view-streetlight-markers" >
          <h4>
            <input type="checkbox" name="streetlight-data" id="marker-checkbox"> View Streetlight Data Markers</h4>
      </div>
    </div>
  </div>

 <div class="row">
  <div class="col-xs-12 col-md-6">
      <div id="view-heatmap" >
          <h4>
            <input type="checkbox" name="streetlight-data-heatmap" id="heatmap"> View Heatmap</h4>
      </div>
  </div>
</div>

  <div class="row">
  <div class="col-xs-12 col-md-6 col-lg-4">

    <span> <h4>Save this Route: </h4></span>
    <form id="save-route-form" method="post" action="/new-route">
        <input type="text" name="route" id="route-name" placeholder="Route Name">
        <input type="hidden" name="start-lat" id="start-lat-field" value="{{ start_lat }}" data-startlat="{{ start_lat }}">
        <input type="hidden" name="start-long" id="start-long-field" value="{{ start_long }}" data-startlong="{{ start_long }}">
        <input type="hidden" name="end-lat" id="end-lat-field" value="{{ end_lat }}" data-endlat="{{ end_lat }}">
        <input type="hidden" name="end-long" id="end-long-field" value="{{ end_long }}" data-endlong="{{ end_long }}">
        <input type="hidden" name="distance" id="total-distance-field1" value=""><br>
        <input type="hidden" name="overview-polyline" id="overview-polyline-field" value=""><br>

   <!--      <input type="checkbox" name="favorite" id="favorite-field1" value="true"> Favorite?<br> -->
        <input type="submit" id="save-route-button" value="Submit Route">
    </form> 
</div>

  <div class="col-xs-12 col-md-6 col-lg-4">

  <span><h4>I've Run this Route: </h4></span>
      <form id="save-run-form" method="post" action="/new-run">
          <input type="text" name="route" id="route-name2" placeholder="Name of Route"><br>
          <input type="hidden" name="start-lat" id="start-lat-field2" value="{{ start_lat }}" data-startlat="{{ start_lat }}">
          <input type="hidden" name="start-long" id="start-long-field2" value="{{ start_long }}" data-startlong="{{ start_long }}">
          <input type="hidden" name="end-lat" id="end-lat-field2" value="{{ end_lat }}" data-endlat="{{ end_lat }}">
          <input type="hidden" name="end-long" id="end-long-field2" value="{{ end_long }}" data-endlong="{{ end_long }}">
          <input type="hidden" name="distance" id="total-distance-field2" value="">
          <input type="hidden" name="favorite" id="favorite-field2" value="true">

          <input type="text" name="date" id="run-date-field" placeholder="Date of run" required><br>

          <input type="text" name="duration" id="run-duration-field"  placeholder="Duration in minutes" required><br>
          <input type="submit" id="add-run-form-submit" value="Submit Route and Run">
      </form>
  </div>
</div>

<!-- show the map -->
<script src="static/js/showmap.js"></script>
<!-- style the map -->
<script src="/static/js/mapstyles.js"></script>

<!-- add marker and heatmap features to map -->
<script src="static/js/streetlightmarkers.js"></script>
<script src="static/js/streetlightheatmap.js"></script>

<!-- process form data for a new route, or a new run -->
<script src="static/js/route.js"></script>
<script src="static/js/run.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0V7FNkiwsUwxhsQd8hscYoMsuklxOFhg&libraries=visualization&callback=updateMap"async defer></script>

{% if g.jasmine_tests %}
    <!-- stuff for testing -->
    <link rel="stylesheet" href="/static/css/jasmine.min.css">
    <script src="/static/js/jasmine.min.js"></script>
    <script src="/static/js/jasmine-html.min.js"></script>
    <script src="/static/js/boot.min.js"></script>
    <script src="/static/js/run-spec.js"></script>
    <!-- end of stuff for testing -->
{% endif %}

{% endblock %}

