{% extends 'base.html' %}

{% block title %}Result Map{% endblock %}


{% block content %}





<div class="container-fluid">

  <div class="row">
   <div class="col-xs-12 col-md-9">
        <div id="map" style="height:500px; width: 900px;"></div>
     </div>
     <div class="col-xs-12 col-md-3">
        <div id="right-panel" style="height:500px; width: 400px;"></div>
     </div>
  </div>
</div>

<script src="static/js/streetlightmarkerslivedata.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0V7FNkiwsUwxhsQd8hscYoMsuklxOFhg"
async defer></script>

{% endblock %}
