<!-- Helper template that lists routes data in table format -->

  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
          <table class="table table-striped table-bordered">
              <tr>
              <th>Route ID</th>
              <th>Route Name</th>
              <th>Date Added</th>      
              <th>Distance (km)</th>
              <!-- <th>Favorite</th> -->

              </tr>

              {% for route in routes %}
                <tr>
                    <td> ({{ route.route_id }})            
                    <td> <a href="/routes/{{ route.route_id }}">{{ route.route_name }}</td>
                    <td> {{ route.add_date }}            
                    <td> {{ route.route_distance }}
                    <!-- <td> {{ route.favorite }} -->
                </tr>
              {% endfor %}
          </table>
      </div>
    </div>